[Desktop Entry]
Type=Application
Name=Xmodmap Media Keys
Exec=/home/shahmir/.local/bin/apply-xmodmap.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
